*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', serif;
}

body{
    min-height: 1000px;
    scroll-behavior: smooth;
}

header{
    /* position: fixed;
    top:0;
    left: 0; */
    display: flex;
    width: 100%;
    justify-content: center;
    /* justify-content: flex-end; */
    align-items: center;
    min-height: 100vh;
    background-color: black;
    transition: 1s;
    /* min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex; */
}


.web_intro{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    flex-direction: column;
    position: relative;

}

.web_intro .logo{
    font-size: 10vW;
    transition: 1s;
    z-index: 1;
    text-decoration: none;
    font-weight: 700;
    color: white;
    
}

.web_intro span{
    font-size: 2.5vw;
    letter-spacing: 0.5vw;
    font-weight :400;
    text-transform: uppercase;
    padding: 20px;
    color: white;

}

header nav{
    /* background-color: yellowgreen; */
    position: absolute;
    top:0;
    display: flex;
    z-index: 1;
}

header nav ul{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    transition: 0.25s;
    /* transform: translateX(100px); 
    opacity: 0; */
}
nav ul li{
    list-style: none;
    margin: 20px 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1vw;
    /* margin-top: 20px; */
    font-size: 25px;
}



header .banner{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    z-index: 0;
}

/* .sticky{
    height: 80px;
}  */
/* ============================================================ */

.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    /* width: 100%; */
    background-color: rgb(48, 24, 75);
}

.about_container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color:black;
}

.about_container .about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: coral; */
    width: 600px;
    height: 400px;
    transition: 0.5s;

}
.about_container .about:hover{
    transform: translateY(-20px);
    /* transition: 1s; */
}

.about_container .about::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(45deg,#ffbc00,#ff0058); */
    background: linear-gradient(45deg,#009fff,#ec2f4b);
    /* filter: blur(10px) */
}
.about_container .about::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(45deg,#ffbc00,#ff0058); */
    background: linear-gradient(45deg,#009fff,#ec2f4b);
    filter: blur(10px)
}

.about_container .about  span{
    position: absolute;
    top:6px;
    left: 6px;
    right:6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.about_container .about  span::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height:100%;
    background: rgba(255, 255, 255 , 0.1);
    pointer-events: none;
}



.about_container .about .about_header{
    position: relative;
    z-index: 10;
    /* background-color: cadetblue; */
    margin-top: 20px;
    /* font-size: 3em;
    font-weight: 600; */
    color: linear-gradient(45deg,#009fff,#ec2f4b);
}

.glitch {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(233, 219, 30, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.about_container .about p{
    position: relative;
    z-index: 10;
    margin: 0 50px;
    font-size: 1.1em;
    padding: 0 20px;
    color: white;
    /* background-color: cyan; */
}

.about_container .about button{
    position: relative;
    z-index: 10;
    display: inline-block;
    font-size: 1.1em;
    color: black;
    background: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    border: none;
}

.about_container .about button:hover{
    background: rgb(185, 181, 181);
}

/* ================================================= */

.skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    height: 400px;
    transition: 0.5s;
    flex-direction: column;
    /* background-color: yellowgreen; */
    overflow: hidden;
}

.skills::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}
.skills::after{
    content: "";
    position: absolute;
    background-color: black;
    inset: 4px;
    background-color: rgb(9, 53, 110);
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(350deg);
    }
}

.skills .skills_header{
    position: absolute;
    top:10px;
    z-index: 10;
    color: blue;
}

.skills .skills_box{
    position: relative;
    z-index: 10;
    /* background-color: cornflowerblue; */
    width: 90%;
    /* height: 5em; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 2s;
}

.skills .skills_box .border_img{
    /* background: linear-gradient(#00ccff, #d400d4); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    width: 100px;
    height: 100px;
    /* height: auto; */
}

.skills .skills_box .border_img:hover{
    transform: translateY(-20px);
    transition: 1s;
    cursor: pointer;
}


.skills .skills_box .border_img:hover:before{
   content: "";
    position: absolute;
    width: 40px;
    height: 200%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
    
}

.skills .skills_box .border_img:hover::after{
    content: "";
    position: absolute;
    inset: 4px ;
    /* max-width: 100px; */
    background-color: rgb(9, 53, 110);
}

.border_img img{
    position: relative;
    /* border: 2px solid black; */
    margin: 15px 0 ;
    width: 5em;
    height: auto;
    z-index: 10;
}

/* ================================================= */

.project{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
    flex-direction: column;
}

.project .project_header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */
    margin-top: 10px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 320px;
    height: 400px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.container .box:hover{
    transform: translateY(-20px);

}
.container .box::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
    /* filter: blur(10px) */
}

.container .box::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00,#ff0058);
    filter: blur(10px)
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after{
    background: linear-gradient(315deg,#03a9f4,#ff0058);

}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after{
    background: linear-gradient(315deg,#4dff03,#03a9f4);
}

.container .box  span{
    position: absolute;
    top:6px;
    left: 6px;
    right:6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.container .box  span::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height:100%;
    background: rgba(255, 255, 255 , 0.1);
    pointer-events: none;
}

.container .box .content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;

}

.container .box .content h2{
    font-size: 2em;
    color: white;
    margin-bottom:10px;

}

.container .box .content p{
    font-size: 1.1em;
    color: white;
    margin-bottom:10px;
    line-height: 1.4em;
}

.container .box .content a{
    display: inline-block;
    font-size: 1.1em;
    color: black;
    background: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}


@media (max-width:700px) {
    nav ul li{
        list-style: none;
        margin: 20px 5px;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        /* padding: 0.8vw; */
        /* margin-top: 20px; */
        font-size: 15px;
    }
    .about_container .about{

        width: 90%;
    }

    .skills{
        width: 90%;
        /* height: auto; */
    }


}